* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  padding: 30px;
  text-align: center;
  background-color: #f6f6f6;
}
input {
  outline: none;
}
.form input, .form button{
  width: 200px;
  padding: 10px;
  margin: 20px 3px;
  outline: none;
}
.form button {
  cursor: pointer;
}
.posts {
  /* border: 1px solid #777; */
  padding: 10px;
  text-align: left;
  margin: 3px;

}
.posts button {
  width: 150px;
  padding: 5px 15px;
  margin: 3px;
  display: block;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: .5s;
}

.posts button:active {
  outline: .5px solid black;
}
.posts button:first-of-type {
  background-color: red;
}
.posts button:last-of-type {
  background-color: green;
}
.post {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  margin: 5px;
  padding: 5px 10px;
}
.update input {
  padding: 5px;
    border-radius: 5px;
    outline: none;
    border: 1px solid black;
}